---
import Button from "@/components/Button/Button";
import Heading from "@/components/Heading";
import Logo from "@/components/Logo/Logo.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import { SiteData } from "@/SiteData";
import { Image } from "astro:assets";
import Students from "@/assets/students.jpg";
import FloatingCard from "@/components/FloatingCard.astro";
import RightPointedArrow from "@/assets/right-pointed-arrow.png";
import Counter from "@/components/Counter";
import Signature from "@/assets/signature.png";
import CTABlock from "@/components/CTABlock.astro";

// Props (all optional)
const {
  id = "about",
  class: className = "",
  eyebrow = "CPA Review Course",
  mainMessage = {
    before: "The Road",
    beforeClass: "",
    text: " To CPA",
    className: "text-light-primary",
    after: " Begins Today.",
    afterClass: "",
  },
  instructorName = "Darius Clark",
  instructorTitle = "CPA REVIEW INSTRUCTOR",
  ctaText = 'GET ON THE "RIGHT ROAD" TO CPA!',
  ctaHref = "/about",

  // Right side content
  rightDescription = "Welcome to i75 CPA Review, your clear and direct road to passing the CPA exam. Led by Darius Clark, our course is designed to simplify complex topics and offer focused, practical insights that help you efficiently prepare for success. Whether you've struggled with other courses or are just starting your CPA journey, i75 CPA Review is here to guide you every step of the way.",
  rightButtonText = "View Success Stories",
  rightButtonHref = "/testimonials",

  // Flip columns on large screens
  reversed = false,
} = Astro.props;

const textOrder = reversed ? "order-2 lg:order-1" : "order-1";
const mediaOrder = reversed ? "order-1 lg:order-2" : "order-2";
const size = 60;
import Video from "/Did-You-Fail-The-CPA-Exam_-Maybe-Its-not-your-Faultseptember.mp4";
---

<section
  id={id}
  class={`relative py-14 md:py-25 space-y-10 text-light-primary ${className}`}
>
  <!-- Video -->
  <div class="inset-0 inner-section lg:w-3/5 h-full text-center flex flex-col gap-5 text-light-primary">
    <Heading tagName="span" className="h3 text-center uppercase">
      Inside The i75 CPA Review Course
    </Heading>
    <video
      class="w-full h-full object-cover"
      src={Video}
      autoPlay
      controls
      loop
      muted
    ></video>
  </div>
  <div class="inner-section mx-auto max-w-3xl flex flex-col justify-center items-center gap-6">
    <p class="text-2xl text-center leading-relaxed">
      Welcome to i75 CPA Review, <span class="font-bold">your clear and direct road to passing the CPA exam.</span> Led by Darius Clark, our course is designed to <span class="font-bold">simplify complex topics</span> and offer focused, practical insights that help you efficiently prepare for success. <span class="font-bold">Whether you've struggled with other courses or are just starting your CPA journey</span>, i75 CPA Review is here to guide you every step of the way.
    </p>
     <CTABlock />
</section>
